<form>
<input type="hidden" name="card[list_id]" value="<%=list.escape('id')%>">
<label>Title<input type="text" name="card[title]"></label>
<label>Description<input type="text" name="card[description]"></label>
<label>Order<input type="text" name="card[rank]"></label>

<input type="submit">

</form>