<h2>All The Boards</h2>

<ul>
<% boards.each(function(board) {%>
	<li><a href="#/boards/<%=board.escape("id")%>"><%=board.escape("title") %></a></li>
	<button class="remove" data-atr ="<%=board.id%>" >Delete Board</button>
<% }); %>
</ul>

<div class="board-new"></div>

<button id="refresh">Refresh</button>
