Board Show Page

<%= board.get('title') %>

<ul>
<% board.lists().each( function(list) {%>
	<li><%= list.get('title') %></li>
<% }) %>
<ul>
<a href="#/">Back to Index</a>

<div class = "list-new"></div>