
<h4>Create a new list:</h4>
<form>
<input type="hidden" name="list[board_id]" value="<%=board.escape('id')%>">
<label>Title:<input type="text" name="list[title]"></label>
<label>Rank:<input type="text" name="list[rank]"></label>

<input type="submit">

</form>
</div>

<script>
// show the dialog on click of a button
$( "#showForm" ).click(function(){
    /* -select the div you want to be a dialog modal, in our case it is 'basicModal'
       -you can add parameters such as width, height, title, etc. */
    $( "#newForm" ).dialog({
        modal: true,
        height: 300,
        width: 400,
        backgroundcolor: 'red',
    });
   
});
</script>
